html, body {
  margin: 0;

  color: white;

  font-family: "Lato", "Montserrat", "Adobe Garamond", serif;
  font-size: 20px;
}

* {
  color: inherit;
  box-sizing: border-box;
}

body {
  padding: 15vh 5vh 15vh 5vh;
  background:
    radial-gradient(95% 125% at -30% -30%,rgba(202,122,58,0.7) 0%,rgba(40,41,43,0) 110%),
    radial-gradient(95% 125% at 130% 130%,rgba(58,137,203,0.7) 0%,rgba(40,41,43,0) 110%),
    rgb(40,41,43);
  background-attachment: fixed;
}